<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Module Id="MicrosoftBiologyFoundation" Codepage="1252" Language="1033" Version="1.0.0">
    <!--module package information-->
    <Package Id="E0ACFDB1-5751-45DD-A712-2F36ED026697" Description=".NET Bio" Comments=".NET Bio" Manufacturer="Microsoft Corporation" InstallerVersion="200" />
    <!--Directory: Target-->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!--Directory: Root directory for .NET Bio-->
      <Directory Id="FRAMEWORKFOLDER">
        <Component Id="cmpAF6CEE42CB834476197C946A5A6FF534" Guid="DE92E4A2-764F-4DBD-AB83-B8DF2E2E18C0">
          <File Id="fil592FC16DA8E3A75EACF99BF4DBE0BE97" KeyPath="yes" Source="SourceDir\BedStats.exe" />
        </Component>
        <Component Id="cmp56A0FC9EE29C01ECA14007FA73C52A24" Guid="367392E3-40B2-4D50-8DA8-42823694D254">
          <File Id="filCAB4A6A8B6B001599BB0539EBF7638E4" KeyPath="yes" Source="SourceDir\Bio.Comparative.dll" />
        </Component>
        <Component Id="cmp231ED58A4F8E8CFBB5D7D072E28537B8" Guid="D4AE2CAE-B3D2-4BB5-9098-F8CE08C93095">
          <File Id="fil675B488729DA21B25EA19CD45BC6034F" KeyPath="yes" Source="SourceDir\Bio.dll" />
        </Component>
        <Component Id="cmpD9EAB28F254F246F9D055BDD8A07A41F" Guid="A0149F8F-E567-4297-8205-DD76C29A2DF3">
          <File Id="fil96934BBD2F81138C369D895B36B79D8B" KeyPath="yes" Source="SourceDir\Bio.IO.dll" />
        </Component>
        <Component Id="cmp8318400794D10C6AE6CBB882DC1DFC18" Guid="4E53F2CF-3C48-4161-9BCC-9670DCC90198">
          <File Id="fil785F9B92806AA0F0EF3B43E973B0CD6A" KeyPath="yes" Source="SourceDir\Bio.Padena.dll" />
        </Component>
        <Component Id="cmp06D11E0BEDD436819F9930363F7A2C62" Guid="ACD65AEF-8611-4C82-9BC2-E4FCFD0C4BB5">
          <File Id="fil635E743E55C8175F2393FB90D6BCC2C3" KeyPath="yes" Source="SourceDir\Bio.Pamsam.dll" />
        </Component>
        <Component Id="cmpD31AA9A1874948CC4E1E317D72589B99" Guid="085E9C8F-6BA1-41D5-9EB5-1FE72624D3E0">
          <File Id="filF8540D066920C6E9ADF11899E192CDED" KeyPath="yes" Source="SourceDir\Bio.WebServiceHandlers.dll" />
        </Component>
        <Component Id="cmpCF2DBFCFCACBF090B46FEA0AE7AD6832" Guid="0FFE41E8-D6DB-49E6-A016-8FC7DB9A84F6">
          <File Id="fil5FD121CF58C9B2C2359B2708C6E11BFB" KeyPath="yes" Source="SourceDir\Bio.Workflow.dll" />
        </Component>
        <Component Id="cmp13F3DBA1297BC5D75824FBFD8F55D9B3" Guid="F4A00A8A-9B6E-4EDA-9632-CBF0339F0D40">
          <File Id="fil4B7234B9B73ADADBD7F23E65F4EA1B47" KeyPath="yes" Source="SourceDir\ComparativeUtil.exe" />
        </Component>
        <Component Id="cmpC93D7B8AABB99F198F25689BCAB83A9A" Guid="E15DA6BF-90B6-45BF-9A14-9F62998597FC">
          <File Id="fil029FC72FE972F1268DA24A84F4289337" KeyPath="yes" Source="SourceDir\ConsensusUtil.exe" />
        </Component>
        <Component Id="cmpFA4B4D377D3B4503DAD97F87F7C29D4B" Guid="4A5E3382-9E0E-4C98-A114-0A18C027CCDF">
          <File Id="filA1598965BC6A1301AE16EBF764677D0A" KeyPath="yes" Source="SourceDir\FileFormatConverter.exe" />
        </Component>
        <Component Id="cmp1AD03AA46F70B94F7043B882B656FBAE" Guid="C02C7970-377B-4E8F-9C72-B62C6DF8E421">
          <File Id="filFC810F0FD202A5E51B16BC447BA1D5A2" KeyPath="yes" Source="SourceDir\FilterReadsUtil.exe" />
        </Component>
        <Component Id="cmp3E160C852E6DCF99177FC25360D8BE0A" Guid="489A0C27-B55E-4DD7-AEA0-8234B3756255">
          <File Id="fil074A87C214AD98E4F2E021A15EAA5EDB" KeyPath="yes" Source="SourceDir\LayoutRefinementUtil.exe" />
        </Component>
        <Component Id="cmp4E2AC22D72422BB8572890D747177104" Guid="319F88D4-0A55-43DC-AF0D-581BA2ABCE68">
          <File Id="filC8FF0431BE6648A8776289774F053BF0" KeyPath="yes" Source="SourceDir\LISUtil.exe" />
        </Component>
        <Component Id="cmp1807F33621479FCA7042DCAEE2FFDE6B" Guid="FADB6669-D3BD-4339-8018-101ED4438ABD">
          <File Id="fil5D3386DCF037CB33316EC5FCF3F30589" KeyPath="yes" Source="SourceDir\MumUtil.exe" />
        </Component>
        <Component Id="cmp069AD3E38C97BA31F3514F0F0946CD1E" Guid="2751294B-BE53-41FB-A036-24712EAF1ACD">
          <File Id="fil0DEF4F7F2A87431AFAB1FB4B4813BFA4" KeyPath="yes" Source="SourceDir\NucmerUtil.exe" />
        </Component>
        <Component Id="cmp3B17E408D07C8D1C4E68781BB4534923" Guid="A9CB5456-225F-4029-BFC3-88AA79FE60C9">
          <File Id="fil099FEA528DC7D33055A318C0D6A89DAA" KeyPath="yes" Source="SourceDir\PadenaUtil.exe" />
        </Component>
        <Component Id="cmp600C93B95F921B8BA06D2E1B2BA0D7C3" Guid="423A2F67-B398-4324-95C5-F2D117732466">
          <File Id="fil6A3E699B4445C90F9793E3B28D4DACF6" KeyPath="yes" Source="SourceDir\ReadSimulator.exe" />
        </Component>
        <Component Id="cmp471929EE637A8A3E7EF1612A8F7485C1" Guid="0879983D-51B1-4EB7-9BF6-0E2B29534C59">
          <File Id="fil51E0F3CBE19DB5F56DBCC9669C5F99AB" KeyPath="yes" Source="SourceDir\RepeatResolutionUtil.exe" />
        </Component>
        <Component Id="cmp6392B928FE542BAA00D4BD9DB9064106" Guid="1D2A98DC-F657-4F02-AE6B-6CAF1E5BC43E">
          <File Id="fil33E2A99CBEC15CA287A8FC2C5B0272FC" KeyPath="yes" Source="SourceDir\SampleClusterApp.exe" />
        </Component>
        <Component Id="cmp597839F9A9711ABA5E87DA0B01F47993" Guid="A3CD5A53-3F26-4657-B56B-C33DE4C602C4">
          <File Id="fil0D4AE60A614CAEF9AAF9BFE8ED48CBF7" KeyPath="yes" Source="SourceDir\SAMUtils.exe" />
        </Component>
        <Component Id="cmp58675EDAB133C28BB8C1BA9311315B4C" Guid="0916BBD5-3704-47FC-A1F6-B7C3D1849687">
          <File Id="fil22B1450D7718C16D97E6A5A6F4B3788A" KeyPath="yes" Source="SourceDir\ScaffoldUtil.exe" />
        </Component>
        <Component Id="cmp070D616AF16A4A5C6322D7A87DE8425E" Guid="0351DE0E-5EC2-49BE-9635-2D2BD1C95140">
          <File Id="fil9874F90BC06A7B3258BCD908F13F16F4" KeyPath="yes" Source="SourceDir\Tools.VennToNodeXL.dll" />
        </Component>
        <Component Id="cmp1D28480DAC764CBCD185D4210C32DD39" Guid="D6E66A5D-10F3-4419-8FA9-91D970DF91D8">
          <File Id="fil8A0572B3EBCED0E8DC6761DE332BFD18" KeyPath="yes" Source="SourceDir\VennTool.exe" />
        </Component>
      </Directory>
      <!--Directory: Target end-->
    </Directory>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="RegistryEntries" Guid="3780F181-0131-4E4A-B175-515E55044C45">
        <RegistryKey Root="HKLM" Key="Software\.NET Bio\$(env.ProductVersion)\Framework" Action="createAndRemoveOnUninstall">
          <RegistryValue Type="integer" Name="Installed" Value="1" />
          <RegistryValue Type="string" Name="InstallationPath" Value="[FRAMEWORKFOLDER]" KeyPath="yes" />
          <RegistryValue Type="string" Name="Version" Value="$(env.ProductVersion)" />
        </RegistryKey>
        <CreateFolder Directory="FRAMEWORKFOLDER" />
        <RemoveFolder Id="RemoveFrameworkFolder" On="uninstall" />
        <Environment Id="EnvSetPath" Name="PATH" Action="set" Part="last" System="yes" Value="[FRAMEWORKFOLDER]" />
      </Component>
    </DirectoryRef>
  </Module>
</Wix>