<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="FileAssociations">

      <ComponentRef Id="Fasta_FaFileAssociation" />
      <ComponentRef Id="Fasta_MpfaFileAssociation" />
      <ComponentRef Id="Fasta_FnaFileAssociation" />
      <ComponentRef Id="Fasta_FaaFileAssociation" />
      <ComponentRef Id="Fasta_FsaFileAssociation" />
      <ComponentRef Id="Fasta_FasFileAssociation" />
      <ComponentRef Id="Fasta_FastaFileAssociation" />


      <ComponentRef Id="Fastq_FqFileAssociation" />
      <ComponentRef Id="Fastq_FastqFileAssociation" />
      
      <ComponentRef Id="GffFileAssociation" />

      <ComponentRef Id="Genbank_GbFileAssociation" />
      <ComponentRef Id="Genbank_GbkFileAssociation" />
      <ComponentRef Id="Genbank_GenbankFileAssociation" />
    </ComponentGroup>
    
    <DirectoryRef Id='SequenceAssemblerFolder'>

      <!--Readme document-->
      <Component Id='ReadmeDocument' Guid='EFF06967-605B-4651-B70B-11A29E3B4F26'>
        <File Id='readme.txt' KeyPath='yes' Source='SourceDir\readme.txt'/>
        <RemoveFile Id='RemoveLogFiles' On='uninstall' Name='*.log'/>
      </Component>

      <!-- FASTA file type associations -->
      <!--create .fa file association-->
      <Component Id="Fasta_FaFileAssociation" DiskId="1" Guid="97D83A0F-B2F9-432F-B948-64BC76617DED">
        <Condition>FASTA_FA</Condition>
        <ProgId Id="MSRSequenceAsssembler.fa" Description="!(loc.Fasta_FaFileType)" Icon="fil99C2955EC4BF6A68C0C8789BE383C5E5">
          <Extension Id="fa" ContentType="application/fa">
            <Verb Id="open" Command="open" TargetFile="fil99C2955EC4BF6A68C0C8789BE383C5E5" Argument="&quot;%1&quot;"/>
          </Extension>
        </ProgId>
        <RemoveRegistryKey Id="OverrideFa" Action="removeOnInstall" Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\FileExts\.fa\UserChoice"/>
        <CreateFolder/>
      </Component>

      <!--create .mpfa file association-->
      <Component Id="Fasta_MpfaFileAssociation" DiskId="1" Guid="F6B4F86A-F020-43B2-A51F-65F6BC3B3C67">
        <Condition>FASTA_MPFA</Condition>
        <ProgId Id="MSRSequenceAsssembler.mpfa" Description="!(loc.Fasta_MpfaFileType)" Icon="fil99C2955EC4BF6A68C0C8789BE383C5E5">
          <Extension Id="mpfa" ContentType="application/mpfa">
            <Verb Id="open" Command="open" TargetFile="fil99C2955EC4BF6A68C0C8789BE383C5E5" Argument="&quot;%1&quot;"/>
          </Extension>
        </ProgId>
        <RemoveRegistryKey Id="OverrideMpfa" Action="removeOnInstall" Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\FileExts\.mpfa\UserChoice"/>
        <CreateFolder/>
      </Component>

      <!--create .fna file association-->
      <Component Id="Fasta_FnaFileAssociation" DiskId="1" Guid="19A0096E-4A64-4EA6-BAD7-3407916B249B">
        <Condition>FASTA_FNA</Condition>
        <ProgId Id="MSRSequenceAsssembler.fna" Description="!(loc.Fasta_FnaFileType)" Icon="fil99C2955EC4BF6A68C0C8789BE383C5E5">
          <Extension Id="fna" ContentType="application/fna">
            <Verb Id="open" Command="open" TargetFile="fil99C2955EC4BF6A68C0C8789BE383C5E5" Argument="&quot;%1&quot;"/>
          </Extension>
        </ProgId>
        <RemoveRegistryKey Id="OverrideFna" Action="removeOnInstall" Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\FileExts\.fna\UserChoice"/>
        <CreateFolder/>
      </Component>

      <!--create .faa file association-->
      <Component Id="Fasta_FaaFileAssociation" DiskId="1" Guid="C32AE726-C9B1-42FC-9900-3A012A635A0B">
        <Condition>FASTA_FAA</Condition>
        <ProgId Id="MSRSequenceAsssembler.faa" Description="!(loc.Fasta_FaaFileType)" Icon="fil99C2955EC4BF6A68C0C8789BE383C5E5">
          <Extension Id="faa" ContentType="application/faa">
            <Verb Id="open" Command="open" TargetFile="fil99C2955EC4BF6A68C0C8789BE383C5E5" Argument="&quot;%1&quot;"/>
          </Extension>
        </ProgId>
        <RemoveRegistryKey Id="OverrideFaa" Action="removeOnInstall" Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\FileExts\.faa\UserChoice"/>
        <CreateFolder/>
      </Component>
      
      <!--create .fsa file association-->
      <Component Id="Fasta_FsaFileAssociation" DiskId="1" Guid="34CF7461-1E83-4F09-94DD-CA38532A4E39">
        <Condition>FASTA_FSA</Condition>
        <ProgId Id="MSRSequenceAsssembler.fsa" Description="!(loc.Fasta_FsaFileType)" Icon="fil99C2955EC4BF6A68C0C8789BE383C5E5">
          <Extension Id="fsa" ContentType="application/fsa">
            <Verb Id="open" Command="open" TargetFile="fil99C2955EC4BF6A68C0C8789BE383C5E5" Argument="&quot;%1&quot;"/>
          </Extension>
        </ProgId>
        <RemoveRegistryKey Id="OverrideFsa" Action="removeOnInstall" Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\FileExts\.fsa\UserChoice"/>
        <CreateFolder/>
      </Component>

      <!--create .fas file association-->
      <Component Id="Fasta_FasFileAssociation" DiskId="1" Guid="00162734-6F3A-41DE-9319-7B0F0C17BA51">
        <Condition>FASTA_FAS</Condition>
        <ProgId Id="MSRSequenceAsssembler.fas" Description="!(loc.Fasta_FasFileType)" Icon="fil99C2955EC4BF6A68C0C8789BE383C5E5">
          <Extension Id="fas" ContentType="application/fas">
            <Verb Id="open" Command="open" TargetFile="fil99C2955EC4BF6A68C0C8789BE383C5E5" Argument="&quot;%1&quot;"/>
          </Extension>
        </ProgId>
        <RemoveRegistryKey Id="OverrideFas" Action="removeOnInstall" Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\FileExts\.fas\UserChoice"/>
        <CreateFolder/>
      </Component>

      <!--create .fasta file association-->
      <Component Id="Fasta_FastaFileAssociation" DiskId="1" Guid="F6F6B880-0F3E-4AF0-A3F9-0AD159BB80CD">
        <Condition>FASTA_FASTA</Condition>
        <ProgId Id="MSRSequenceAsssembler.fasta" Description="!(loc.Fasta_FastaFileType)" Icon="fil99C2955EC4BF6A68C0C8789BE383C5E5">
          <Extension Id="fasta" ContentType="application/fasta">
            <Verb Id="open" Command="open" TargetFile="fil99C2955EC4BF6A68C0C8789BE383C5E5" Argument="&quot;%1&quot;"/>
          </Extension>
        </ProgId>
        <RemoveRegistryKey Id="OverrideFasta" Action="removeOnInstall" Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\FileExts\.fasta\UserChoice"/>
        <CreateFolder/>
      </Component>

      <!-- FASTQ file type associations -->
      <!--create .fq file association-->
      <Component Id="Fastq_FqFileAssociation" DiskId="1" Guid="4525F960-703F-4CE5-B1FE-D1CC5AF4B65E">
        <Condition>FASTQ_FQ</Condition>
        <ProgId Id="MSRSequenceAsssembler.fq" Description="!(loc.Fastq_FqFileType)" Icon="fil99C2955EC4BF6A68C0C8789BE383C5E5">
          <Extension Id="fq" ContentType="application/fq">
            <Verb Id="open" Command="open" TargetFile="fil99C2955EC4BF6A68C0C8789BE383C5E5" Argument="&quot;%1&quot;"/>
          </Extension>
        </ProgId>
        <RemoveRegistryKey Id="OverrideFq" Action="removeOnInstall" Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\FileExts\.fq\UserChoice"/>
        <CreateFolder/>
      </Component>
      
      <!--create .fastq file association-->
      <Component Id="Fastq_FastqFileAssociation" DiskId="1" Guid="073394A1-43A0-4A52-9A78-71740C458956">
        <Condition>FASTQ_FASTQ</Condition>
        <ProgId Id="MSRSequenceAsssembler.fastq" Description="!(loc.Fastq_FastqFileType)" Icon="fil99C2955EC4BF6A68C0C8789BE383C5E5">
          <Extension Id="fastq" ContentType="application/fastq">
            <Verb Id="open" Command="open" TargetFile="fil99C2955EC4BF6A68C0C8789BE383C5E5" Argument="&quot;%1&quot;"/>
          </Extension>
        </ProgId>
        <RemoveRegistryKey Id="OverrideFastq" Action="removeOnInstall" Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\FileExts\.fastq\UserChoice"/>
        <CreateFolder/>
      </Component>

      <!-- GFF file type associations -->
      <!--create .gff file association-->
      <Component Id="GffFileAssociation" DiskId="1" Guid="7837BB6B-3D1A-473A-898D-C3906ED45D6D">
        <Condition>GFF_GFF</Condition>
        <ProgId Id="MSRSequenceAsssembler.gff" Description="!(loc.GffFileType)" Icon="fil99C2955EC4BF6A68C0C8789BE383C5E5">
          <Extension Id="gff" ContentType="application/gff">
            <Verb Id="open" Command="open" TargetFile="fil99C2955EC4BF6A68C0C8789BE383C5E5" Argument="&quot;%1&quot;"/>
          </Extension>
        </ProgId>
        <RemoveRegistryKey Id="OverrideGff" Action="removeOnInstall" Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\FileExts\.gff\UserChoice"/>
        <CreateFolder/>
      </Component>

      <!-- GENBANK file type associations -->
      <!--create .gb file association-->
      <Component Id="Genbank_GbFileAssociation" DiskId="1" Guid="8C342401-D8FE-4002-B3CE-6052CDE50436">
        <Condition>GENBANK_GB</Condition>
        <ProgId Id="MSRSequenceAsssembler.gb" Description="!(loc.Genbank_GbFileType)" Icon="fil99C2955EC4BF6A68C0C8789BE383C5E5">
          <Extension Id="gb" ContentType="application/gb">
            <Verb Id="open" Command="open" TargetFile="fil99C2955EC4BF6A68C0C8789BE383C5E5" Argument="&quot;%1&quot;"/>
          </Extension>
        </ProgId>
        <RemoveRegistryKey Id="OverrideGb" Action="removeOnInstall" Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\FileExts\.gb\UserChoice" />
        <CreateFolder/>
      </Component>

      <!--create .gbk file association-->
      <Component Id="Genbank_GbkFileAssociation" DiskId="1" Guid="FAFE026C-2E20-49A5-BD69-8BED495C86C5">
        <Condition>GENBANK_GBK</Condition>
        <ProgId Id="MSRSequenceAsssembler.gbk" Description="!(loc.Genbank_GbkFileType)" Icon="fil99C2955EC4BF6A68C0C8789BE383C5E5">
          <Extension Id="gbk" ContentType="application/gbk">
            <Verb Id="open" Command="open" TargetFile="fil99C2955EC4BF6A68C0C8789BE383C5E5" Argument="&quot;%1&quot;"/>
          </Extension>
        </ProgId>
        <RemoveRegistryKey Id="OverrideGbk" Action="removeOnInstall" Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\FileExts\.gbk\UserChoice"/>
        <CreateFolder/>
      </Component>

      <!--create .genbank file association-->
      <Component Id="Genbank_GenbankFileAssociation" DiskId="1" Guid="67C3674C-B3AF-4390-B1D1-92AAD7FBE0E7">
        <Condition>GENBANK_GENBANK</Condition>
        <ProgId Id="MSRSequenceAsssembler.genbank" Description="!(loc.Genbank_GenbankFileType)" Icon="fil99C2955EC4BF6A68C0C8789BE383C5E5">
          <Extension Id="genbank" ContentType="application/genbank">
            <Verb Id="open" Command="open" TargetFile="fil99C2955EC4BF6A68C0C8789BE383C5E5" Argument="&quot;%1&quot;"/>
          </Extension>
        </ProgId>
        <RemoveRegistryKey Id="OverrideGenbank" Action="removeOnInstall" Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\FileExts\.genbank\UserChoice"/>
        <CreateFolder/>
      </Component>

    </DirectoryRef>
    </Fragment>
</Wix>
