<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id='0BE1611F-5A61-426C-9B5D-D1EBE9F02277'
    Name='!(loc.ProductName)'
    Language='1033'
    Version='$(env.ProductVersion)'
    Manufacturer=' '
    UpgradeCode='2592BF36-B059-4C8E-85F8-FEF6A5335C2B'>

    <!--installer package information-->
    <Package
        Id='*'
        Description='!(loc.ProductName) installation database.'
        Comments='This installer database contains the logic and data required to install !(loc.ProductName).'
        Manufacturer='.NET Bio'
        InstallerVersion='200'
        Compressed='yes'/>

    <Media Id='1' Cabinet='SequenceAssembler.cab' EmbedCab='yes'/>

    <!-- Upgrade support region -->
    <!--
    To enable upgrade when changing product version:
    1. Change Product Version (major.minor) environment variable.
    2. Change Product Id (GUID) and all component GUIDs.
    3. Modify the code in this region as necessary.
    -->

    <!--Detect older version of the product for Upgrade support-->
    <Upgrade Id="2592BF36-B059-4C8E-85F8-FEF6A5335C2B">

      <!-- Check for version 1.0 and lower -->
      <UpgradeVersion Maximum="1.0.0" Minimum="0.2.0" IncludeMaximum="yes" IncludeMinimum="yes" MigrateFeatures="yes" Property="BELOWVERSIONTWO"/>

      <!-- Check for version 2.1 (developer preview version) - special case -->
      <UpgradeVersion Maximum="2.1.0" Minimum="2.1.0" IncludeMaximum="yes" IncludeMinimum="yes" MigrateFeatures="yes" Property="DEVPREVIEWFOUND"/>

      <!-- Check for lower minor version -->
      <UpgradeVersion Maximum="$(env.ProductMajorVersion).$(env.ProductMinorVersion).$(env.ProductBuildVersion)" Minimum="$(env.ProductMajorVersion).0.0"
                      IncludeMaximum="yes" IncludeMinimum="yes" MigrateFeatures="yes" Property="LOWERMINORFOUND"/>

      <!-- Check for lower version (major or minor) -->
      <UpgradeVersion Maximum="$(env.ProductMajorVersion).$(env.ProductMinorVersion).$(env.ProductBuildVersion)" Minimum="0.0.0"
                      IncludeMaximum="no" IncludeMinimum="yes" MigrateFeatures="yes" Property="LOWERVERSIONFOUND"/>

      <!-- Check for higher version (major or minor) -->
      <UpgradeVersion Maximum="127.254.32767" Minimum="$(env.ProductMajorVersion).$(env.ProductMinorVersion).$(env.ProductBuildVersion)"
                      IncludeMaximum="yes" IncludeMinimum="no" MigrateFeatures="yes" Property="NEWERVERSIONFOUND"/>
    </Upgrade>

    <!-- Prevent installation if newer version found -->
    <Condition Message='!(loc.NewerVersionInstalledAlert)'>
      (NOT NEWERVERSIONFOUND) OR DEVPREVIEWFOUND
    </Condition>

    <!-- Silently upgrade older product version with lower minor version -->
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize">
        LOWERMINORFOUND AND (NOT DEVPREVIEWFOUND)
      </RemoveExistingProducts>
    </InstallExecuteSequence>
    <!-- Upgrade support region end -->

    <!--Directory: Target-->
    <Directory Id='TARGETDIR' Name='SourceDir'>
     
      <!--Directory: ProgramFiles-->
      <Directory Id='ProgramFilesFolder' Name='PFiles'>

        <!--Directory: Configurable install directory-->
        <Directory Id='INSTALLDIR'>
          
        <!--Directory: Install folder-->
        <Directory Id='ProductRootFolder' Name='!(loc.ProductRootFolder)'>

          <!--Directory: Product version folder-->
          <Directory Id='ProductVersionFolder' Name='$(env.ProductVersion)'>

          <!--Directory: Root directory for Microsoft Biology Tools-->
          <Directory Id='MBTFolder' Name='!(loc.MBTFolder)'>

            <!--Directory: Sequence Assembler folder /-->
            <Directory Id='SequenceAssemblerFolder' Name='!(loc.SequenceAssemblerFolder)' />
            
            <!--Directory: Root directory for Microsoft Biology Tools end -->
          </Directory>

            <!--Directory: Product version folder end-->
          </Directory>
        
          <!--Directory: Install folder end-->
        </Directory>

        <!--Directory: Configurable install directory end-->
        </Directory>
        
        <!--Directory: ProgramFiles end-->
      </Directory>

      <!-- Directory: Program Menu folder (for application shortcuts) -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="!(loc.ProductRootFolder)">
          <Directory Id="ApplicationDocumentsFolder" Name="!(loc.ApplicationDocumentsFolderName)"/>
        </Directory>
      </Directory>
      
      <!--Directory: Target end-->
    </Directory>

    <DirectoryRef Id="TARGETDIR">
      <Component Id="RegistryEntries" Guid="7DE6580E-F403-44F0-B2CC-65885BB5C4D7">
        <RegistryKey Root="HKLM"
                     Key="Software\.NET Bio\$(env.ProductVersion)\Tools\.Net Bio Sequence Assembler"
              Action="createAndRemoveOnUninstall">
          <RegistryValue Type="integer" Name="Installed" Value="1" />
          <RegistryValue Type="string" Name="InstallationPath" Value="[SequenceAssemblerFolder]" KeyPath="yes"/>
          <RegistryValue Type="string" Name="Version" Value="$(env.ProductVersion)"/>
        </RegistryKey>
        <CreateFolder Directory="SequenceAssemblerFolder" />
      </Component>
    </DirectoryRef>

    <!-- Application shortcuts region -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="52BB0FF0-1A63-4C0A-9CE5-80A58DC5CDE0">
        <Shortcut Id="StartMenuApplicationShortcut"
          Name="!(loc.ApplicationShortcutName)"
          Description="!(loc.ApplicationShortcutDescription)"
          Target="[SequenceAssemblerFolder]BioSequenceAssembler.exe"
          WorkingDirectory="SequenceAssemblerFolder"/>
        <RemoveFolder Id="RemoveShortcutDir" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\.NET Bio\$(env.ProductVersion)\Tools\.NET Bio Sequence Assembler"
                       Name="Application Shortcut Directory" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    
      <DirectoryRef Id="ApplicationDocumentsFolder">
        <Component Id="DocumentShortcut" Guid="6674F55C-6A35-4C04-850A-2A34CB198021">
          <Shortcut Id="StartMenuDocumentationShortcut"
                    Name="!(loc.DocumentShortcutName)"
                    Description="!(loc.DocumentShortcutDescription)"
                    Target="[SequenceAssemblerFolder]Docs\.NET Bio_Sequence_Assembler_User_Guide.docx"
                    WorkingDirectory="SequenceAssemblerFolder"/>
          <RemoveFolder Id="RemoveShortcut" On="uninstall"/>
          <RegistryValue Root="HKCU" Key="Software\.NET Bio\$(env.ProductVersion)\Tools\.NET Bio Sequence Assembler"
                         Name="Application Shortcut" Type="integer" Value="1" KeyPath="yes"/>
        </Component>
    </DirectoryRef>
    <!-- Application shortcuts region end -->

    <!--Features-->
    <Feature Id='AllFeatures' Title='!(loc.SequenceAssemblerFeatureTitle)' Level='1' Display='expand'>
      <ComponentGroupRef Id='SequenceAssemblerComponentGroup'/>
      <ComponentRef Id='RegistryEntries'/>
      <ComponentRef Id='ApplicationShortcut'/>
      <ComponentRef Id='DocumentShortcut'/>
      <ComponentRef Id='ReadmeDocument'/>
      <ComponentGroupRef Id='FileAssociations'/>
    </Feature>

    <?include IncSequenceAssemblerProperties.wxi?>

  </Product>
</Wix>
