<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>
    <UI Id="WixUI_CommonFonts">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Segoe UI" Size="10" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Segoe UI" Size="12" />
      <TextStyle Id="WixUI_Font_DialogTitle" FaceName="Segoe UI" Size="13" Bold="no"/>

      <Property Id="DefaultUIFont" Value="MBFUI_Font_BodyMessage" />

      <TextStyle Id="MBFUI_Font_BodyMessage" FaceName="Segoe UI" Size="9" />

      <Property Id="MBFDefaultUIFont" Value="MBFUI_Font_BodyMessage" />

      <TextStyle Id="WixUI_Font_ItemIsInstalled" FaceName="Segoe UI" Size="9" Bold="no" Red="23" Green="121" Blue="53"/>
      <Property Id="PrerequisiteInstalledFont" Value="WixUI_Font_ItemIsInstalled" />

      <TextStyle Id="WixUI_Font_ItemIsNotInstalled" FaceName="Segoe UI" Size="9" Bold="no" Red="237" Green="28" Blue="36"/>
      <Property Id="PrerequisiteNotInstalledFont" Value="WixUI_Font_ItemIsNotInstalled" />

      <TextStyle Id="BodySubText" FaceName="Segoe UI" Size="8" Italic="yes" />
    </UI>
  </Fragment>
</Wix>