<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
<!--
First-time install dialog sequence:      Maintenance dialog sequence:
 - WixUI_WelcomeDlg                     - WixUI_MaintenanceWelcomeDlg
 - Prerequisite Check Dlg
 - WixUI_LicenseAgreementDlg            - WixUI_MaintenanceTypeDlg
 - WixUI_SetupTypeDlg
 - WixUI_CustomizeDlg
 - WixUI_InstallDirDlg                    - WixUI_InstallDirDlg
   - WixUI_VerifyReadyDlg                 - WixUI_VerifyReadyDlg
   - WixUI_DiskCostDlg
-->
  <Fragment>
    <UI Id="WixUI_CustomInstallDir">

      <UIRef Id="WixUI_CustomCommon" />
      <UIRef Id="WixUI_CommonFonts" />

      <DialogRef Id="CustomBrowseDlg" />
      <DialogRef Id="CustomCancelDlg" />
      <DialogRef Id="CustomDiskCostDlg" />
      <DialogRef Id="CustomInstallDirDlg" />
      <DialogRef Id="CustomErrorDlg" />
      <DialogRef Id="CustomExitDialog" />
      <DialogRef Id="CustomFatalError" />
      <!--FilesInUse is in WixUIExtension.dll-->
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="CustomLicenseAgreementDlg" />
      <DialogRef Id="CustomMaintenanceTypeDlg" />
      <DialogRef Id="CustomMaintenanceWelcomeDlg" />
      <DialogRef Id="CustomMsiRMFilesInUse" />
      <DialogRef Id="CustomPrepareDlg" />
      <DialogRef Id="CustomProgressDlg" />
      <DialogRef Id="CustomResumeDlg" />
      <DialogRef Id="CustomUserExit" />
      <DialogRef Id="CustomVerifyReadyDlg" />
      <DialogRef Id="CustomWelcomeDlg" />
      <DialogRef Id="CustomMBFSetupTypeDlg" />
      <DialogRef Id="CustomCustomizeDlg"/>
      <DialogRef Id="PrerequisiteDeterminationDlg"/>

      <Property Id="WixUI_CustomWelcomeDlg_Next" Value="CustomLicenseAgreementDlg" />

      <Property Id="WixUI_CustomLicenseAgreementDlg_Back" Value="CustomWelcomeDlg" />
      <Property Id="WixUI_CustomLicenseAgreementDlg_Next" Value="CustomMBFSetupTypeDlg" />

      <Property Id="WixUI_CustomMBFSetupTypeDlg_Back" Value="CustomLicenseAgreementDlg" />
      <Property Id="WixUI_CustomMBFSetupTypeDlg_NextDefault" Value="PrerequisiteDeterminationDlg" />
      <Property Id="WixUI_CustomMBFSetupTypeDlg_NextCustom" Value="CustomCustomizeDlg" />
      <Property Id="WixUI_CustomMBFSetupTypeDlg_NextComplete" Value="PrerequisiteDeterminationDlg" />
      <Property Id="WixUI_CustomMBFSetupTypeDlg_NextChange" Value="CustomVerifyReadyDlg" />

      <Property Id="WixUI_CustomCustomizeDlg_BackInstall" Value="CustomMBFSetupTypeDlg" />
      <Property Id="WixUI_CustomCustomizeDlg_BackChange" Value="CustomMaintenanceTypeDlg" />
      <Property Id="WixUI_CustomCustomizeDlg_NextInstall" Value="PrerequisiteDeterminationDlg" />
      <Property Id="WixUI_CustomCustomizeDlg_NextChange" Value="CustomVerifyReadyDlg" />

      <Property Id="WixUI_PrerequisiteDeterminationDlg_BackDefault" Value="CustomMBFSetupTypeDlg" />
      <Property Id="WixUI_PrerequisiteDeterminationDlg_BackCustom" Value="CustomCustomizeDlg" />
      <Property Id="WixUI_PrerequisiteDeterminationDlg_BackComplete" Value="CustomMBFSetupTypeDlg" />

      <Property Id="WixUI_CustomVerifyReadyDlg_BackRepair" Value="CustomMaintenanceTypeDlg" />
      <Property Id="WixUI_CustomVerifyReadyDlg_BackRemove" Value="CustomMaintenanceTypeDlg" />
      <Property Id="WixUI_CustomVerifyReadyDlg_BackChange" Value="CustomCustomizeDlg" />

      <Property Id="WixUI_CustomMaintenanceWelcomeDlg_Next" Value="CustomMaintenanceTypeDlg" />
      
      <Property Id="WixUI_CustomMaintenanceTypeDlg_Change" Value="CustomCustomizeDlg" />
      <Property Id="WixUI_CustomMaintenanceTypeDlg_Repair" Value="CustomVerifyReadyDlg" />
      <Property Id="WixUI_CustomMaintenanceTypeDlg_Remove" Value="CustomVerifyReadyDlg" />
      <Property Id="WixUI_CustomMaintenanceTypeDlg_Back" Value="CustomMaintenanceWelcomeDlg" />
    </UI>

  </Fragment>
</Wix>