<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id='8B16CC3C-3547-4CCD-815C-71C310147846'
    Name='!(loc.ProductName)'
    Language='1033'
    Version='$(env.ProductVersion)'
    Manufacturer=' '
    UpgradeCode='415B1AA3-9BBD-4613-85E9-0A38BBDBF580'>

    <!--installer package information-->
    <Package
        Id='*'
        Description='!(loc.ProductName) installation database.'
        Comments='This installer database contains the logic and data required to install !(loc.ProductName).'
        Manufacturer='.NET Bio Framework'
        InstallerVersion='200'
        Compressed='yes'/>

    <Media Id='1' Cabinet='ExcelAddin.cab' EmbedCab='yes'/>

    <!-- Upgrade support region -->
    <!--
    To enable upgrade when changing product version:
    1. Change Product Version (major.minor) environment variable.
    2. Change Product Id (GUID) and all component GUIDs.
    3. Modify the code in this region as necessary.
    -->

    <!--Detect older version of the product for Upgrade support-->
    <Upgrade Id="415B1AA3-9BBD-4613-85E9-0A38BBDBF580">

      <!-- Check for version 1.0 and lower -->
      <UpgradeVersion Maximum="1.0.0" Minimum="0.2.0" IncludeMaximum="yes" IncludeMinimum="yes" MigrateFeatures="yes" Property="BELOWVERSIONTWO"/>

      <!-- Check for version 2.1 (developer preview version) - special case -->
      <UpgradeVersion Maximum="2.1.0" Minimum="2.1.0" IncludeMaximum="yes" IncludeMinimum="yes" MigrateFeatures="yes" Property="DEVPREVIEWFOUND"/>

      <!-- Check for lower minor version -->
      <UpgradeVersion Maximum="$(env.ProductMajorVersion).$(env.ProductMinorVersion).$(env.ProductBuildVersion)" Minimum="$(env.ProductMajorVersion).0.0" 
                      IncludeMaximum="yes" IncludeMinimum="yes" MigrateFeatures="yes" Property="LOWERMINORFOUND"/>

      <!-- Check for lower version (major or minor) -->
      <UpgradeVersion Maximum="$(env.ProductMajorVersion).$(env.ProductMinorVersion).$(env.ProductBuildVersion)" Minimum="0.0.0" 
                      IncludeMaximum="no" IncludeMinimum="yes" MigrateFeatures="yes" Property="LOWERVERSIONFOUND"/>

      <!-- Check for higher version (major or minor) -->
      <UpgradeVersion Maximum="127.254.32767" Minimum="$(env.ProductMajorVersion).$(env.ProductMinorVersion).$(env.ProductBuildVersion)" 
                      IncludeMaximum="yes" IncludeMinimum="no" MigrateFeatures="yes" Property="NEWERVERSIONFOUND"/>
    </Upgrade>

    <!-- Prevent installation if newer version found -->
    <Condition Message='!(loc.NewerVersionInstalledAlert)'>
      (NOT NEWERVERSIONFOUND) OR DEVPREVIEWFOUND
    </Condition>
    
    <!-- Silently upgrade older product version with lower minor version -->
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize">
        LOWERMINORFOUND AND (NOT DEVPREVIEWFOUND)
      </RemoveExistingProducts>
    </InstallExecuteSequence>
    <!-- Upgrade support region end -->

    <!--Directory: Target-->
    <Directory Id='TARGETDIR' Name='SourceDir'>

     <!--Directory: ProgramFiles-->
     <Directory Id='ProgramFilesFolder' Name='PFiles'>

       <!--Directory: Configurable install directory-->
       <Directory Id='INSTALLDIR'>

        <!--Directory: Install folder-->
        <Directory Id='ProductRootFolder' Name='!(loc.ProductRootFolder)'>

          <!--Directory: Version number-->
          <Directory Id='ProductVersionFolder' Name='$(env.ProductVersion)'>

            <!--Directory: Root directory for Microsoft Biology Tools-->
            <Directory Id='MBTFolder' Name='!(loc.MBTFolder)'>

              <!--Directory: Excel Addin folder-->
              <Directory Id='EXCELADDINFOLDER' Name='!(loc.ExcelAddinFolder)'>

              <!--Temporary readme document-->
              <Component Id='ReadmeDocument' Guid='78197056-2B95-480F-BCA9-0F48FD7A8EA9'>
                <File Id='readme.txt' KeyPath='yes' Source='SourceDir\readme.txt'/>
              </Component>

                <!--Directory: Excel Addin folder end-->
              </Directory>

              <!--Directory: Root directory for Microsoft Biology Tools end -->
            </Directory>
            <!--Directory: Version number end-->
          </Directory>
          <!--Directory: Install folder end-->
        </Directory>
      <!--Directory: Configurable install directory end-->
      </Directory>
    <!--Directory: ProgramFiles end-->
    </Directory>

    <!-- Directory: Program Menu folder (for application shortcuts) -->
    <Directory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="!(loc.ProductRootFolder)">
        <Directory Id="ApplicationDocumentsFolder" Name="!(loc.ApplicationDocumentsFolderName)"/>
      </Directory>
    </Directory>
      
  <!--Directory: Target end-->
  </Directory>

    <DirectoryRef Id="TARGETDIR">
      <Component Id="RegistryEntries" Guid="4E8273A7-882D-40CE-95F8-6871CEDCDA4B">
        <CreateFolder Directory="EXCELADDINFOLDER" />
        <RegistryKey Root="HKLM"
                     Key="Software\.NET Bio\$(env.ProductVersion)\Tools\.Net Bio Extension for Excel"
              Action="createAndRemoveOnUninstall">
          <RegistryValue Type="integer" Name="Installed" Value="1" />
          <RegistryValue Type="string" Name="InstallationPath" Value="[EXCELADDINFOLDER]" KeyPath="yes"/>
          <RegistryValue Type="string" Name="Version" Value="$(env.ProductVersion)"/>
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <!-- Application shortcuts region -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="C2F9A831-698E-4DBB-B611-0D983686F186">
        <Shortcut Id="StartMenuApplicationShortcut"
          Name="!(loc.ApplicationShortcutName)"
          Description="!(loc.ApplicationShortcutDescription)"
          Target="[EXCELPATH]"
          WorkingDirectory="EXCELPATH"/>
        <RemoveFolder Id="RemoveShortcutDir" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\.NET Bio\$(env.ProductVersion)\Tools\.Net Bio Extension for Excel"
                       Name="Application Shortcut Directory" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ApplicationDocumentsFolder">
      <Component Id="DocumentShortcut" Guid="50E2FC6B-55DD-4FA1-8E63-5EEC4472C477">
        <Shortcut Id="StartMenuDocumentationShortcut"
                  Name="!(loc.DocumentShortcutName)"
                  Description="!(loc.DocumentShortcutDescription)"
                  Target="[EXCELADDINFOLDER]Docs\.NET Bio_Extension_for_Excel_User_Guide.docx"
                  WorkingDirectory="EXCELADDINFOLDER"/>
        <RemoveFolder Id="RemoveShortcut" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\.NET Bio\$(env.ProductVersion)\Tools\.Net Bio Extension for Excel"
                       Name="Application Shortcut" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    <!-- Application shortcuts region end -->

    <!--Features-->
    <Feature Id='AllFeatures' Title='!(loc.ExcelAddinFeatureTitle)' Level='1' Display='expand' ConfigurableDirectory='INSTALLDIR'>
      <ComponentGroupRef Id='ExcelAddinComponentGroup'/>
      <ComponentRef Id='ExcelVstoRegistryEntries' />
      <ComponentRef Id='RegistryEntries'/>
      <ComponentRef Id='ApplicationShortcut'/>
      <ComponentRef Id='DocumentShortcut'/>
      <!--<MergeRef Id='MBFFrameworkModule'/>-->
      <ComponentRef Id='ReadmeDocument'/>
    </Feature>
    
    <?include VSTOInstaller.wxi?>
    <?include IncExcelAddinProperties.wxi?>

  </Product>
  
</Wix>
