<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Bio.Hpc.DistributeApp" publicKeyToken="13335E9ABFBF69D0" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.4331.28206" newVersion="1.0.4331.28206"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Bio" publicKeyToken="13335E9ABFBF69D0" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.4331.28163" newVersion="1.0.4331.28163"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
