<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Module Id="MicrosoftBiologyFoundation" Codepage="1252" Language="1033" Version="1.0.0">
    <!--module package information-->
    <Package Id="E0ACFDB1-5751-45DD-A712-2F36ED026697" Description=".NET Bio" Comments=".NET Bio" Manufacturer="Microsoft Corporation" InstallerVersion="200" />
    <!--Directory: Target-->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!--Directory: Root directory for .NET Bio-->
      <Directory Id="FRAMEWORKFOLDER">
        <Component Id="cmpAF6CEE42CB834476197C946A5A6FF534" Guid="7C31BBCB-8112-447E-A30C-E2EEFC678E35">
          <File Id="fil592FC16DA8E3A75EACF99BF4DBE0BE97" KeyPath="yes" Source="SourceDir\BedStats.exe" />
        </Component>
        <Component Id="cmp56A0FC9EE29C01ECA14007FA73C52A24" Guid="CF1885F1-A130-468E-8805-AAA9A1FC3CC4">
          <File Id="filCAB4A6A8B6B001599BB0539EBF7638E4" KeyPath="yes" Source="SourceDir\Bio.Comparative.dll" />
        </Component>
        <Component Id="cmp231ED58A4F8E8CFBB5D7D072E28537B8" Guid="A3010FC4-E348-4500-9FF2-7FF5B2439C3B">
          <File Id="fil675B488729DA21B25EA19CD45BC6034F" KeyPath="yes" Source="SourceDir\Bio.dll" />
        </Component>
        <Component Id="cmpD9EAB28F254F246F9D055BDD8A07A41F" Guid="83674044-771E-4F3F-AE0D-10ACCF5E9405">
          <File Id="fil96934BBD2F81138C369D895B36B79D8B" KeyPath="yes" Source="SourceDir\Bio.IO.dll" />
        </Component>
        <Component Id="cmp8318400794D10C6AE6CBB882DC1DFC18" Guid="1F48A845-4662-4BE4-868C-E8303545D21A">
          <File Id="fil785F9B92806AA0F0EF3B43E973B0CD6A" KeyPath="yes" Source="SourceDir\Bio.Padena.dll" />
        </Component>
        <Component Id="cmp06D11E0BEDD436819F9930363F7A2C62" Guid="62CFDF91-6600-48B9-800A-68A632FBB8F7">
          <File Id="fil635E743E55C8175F2393FB90D6BCC2C3" KeyPath="yes" Source="SourceDir\Bio.Pamsam.dll" />
        </Component>
        <Component Id="cmpD31AA9A1874948CC4E1E317D72589B99" Guid="2EEAA5DB-276A-41EF-94C3-ED106AB1E460">
          <File Id="filF8540D066920C6E9ADF11899E192CDED" KeyPath="yes" Source="SourceDir\Bio.WebServiceHandlers.dll" />
        </Component>
        <Component Id="cmpCF2DBFCFCACBF090B46FEA0AE7AD6832" Guid="E2F9B8BE-BBB4-4973-9D44-809E57F11B97">
          <File Id="fil5FD121CF58C9B2C2359B2708C6E11BFB" KeyPath="yes" Source="SourceDir\Bio.Workflow.dll" />
        </Component>
        <Component Id="cmp13F3DBA1297BC5D75824FBFD8F55D9B3" Guid="9A1CF1E9-A2C2-45B6-B51F-FC08AB2DFA64">
          <File Id="fil4B7234B9B73ADADBD7F23E65F4EA1B47" KeyPath="yes" Source="SourceDir\ComparativeUtil.exe" />
        </Component>
        <Component Id="cmpC93D7B8AABB99F198F25689BCAB83A9A" Guid="F502B94D-EE5F-4A4A-ABE9-5DE88EC3E978">
          <File Id="fil029FC72FE972F1268DA24A84F4289337" KeyPath="yes" Source="SourceDir\ConsensusUtil.exe" />
        </Component>
        <Component Id="cmpFA4B4D377D3B4503DAD97F87F7C29D4B" Guid="8FB7BDFC-CE15-4BB0-8E91-499950F0A0DA">
          <File Id="filA1598965BC6A1301AE16EBF764677D0A" KeyPath="yes" Source="SourceDir\FileFormatConverter.exe" />
        </Component>
        <Component Id="cmp1AD03AA46F70B94F7043B882B656FBAE" Guid="32D7A387-5250-43E1-99C9-626DDF844634">
          <File Id="filFC810F0FD202A5E51B16BC447BA1D5A2" KeyPath="yes" Source="SourceDir\FilterReadsUtil.exe" />
        </Component>
        <Component Id="cmp3E160C852E6DCF99177FC25360D8BE0A" Guid="2FD1B0AF-120D-4749-B2FB-0C5357591135">
          <File Id="fil074A87C214AD98E4F2E021A15EAA5EDB" KeyPath="yes" Source="SourceDir\LayoutRefinementUtil.exe" />
        </Component>
        <Component Id="cmp4E2AC22D72422BB8572890D747177104" Guid="83D7E003-618B-4352-8F8D-C02C5A90B3C2">
          <File Id="filC8FF0431BE6648A8776289774F053BF0" KeyPath="yes" Source="SourceDir\LISUtil.exe" />
        </Component>
        <Component Id="cmp1807F33621479FCA7042DCAEE2FFDE6B" Guid="7D98C560-0EC8-4C44-86FE-9021265DF6C6">
          <File Id="fil5D3386DCF037CB33316EC5FCF3F30589" KeyPath="yes" Source="SourceDir\MumUtil.exe" />
        </Component>
        <Component Id="cmp069AD3E38C97BA31F3514F0F0946CD1E" Guid="6D75D21A-2C42-43EB-9B1A-B40799FBD84A">
          <File Id="fil0DEF4F7F2A87431AFAB1FB4B4813BFA4" KeyPath="yes" Source="SourceDir\NucmerUtil.exe" />
        </Component>
        <Component Id="cmp3B17E408D07C8D1C4E68781BB4534923" Guid="15D67E3D-8CD9-4F08-891E-17034ECB9CA8">
          <File Id="fil099FEA528DC7D33055A318C0D6A89DAA" KeyPath="yes" Source="SourceDir\PadenaUtil.exe" />
        </Component>
        <Component Id="cmp600C93B95F921B8BA06D2E1B2BA0D7C3" Guid="BC57CDFB-EE6D-4148-BB1B-530495625EC1">
          <File Id="fil6A3E699B4445C90F9793E3B28D4DACF6" KeyPath="yes" Source="SourceDir\ReadSimulator.exe" />
        </Component>
        <Component Id="cmp471929EE637A8A3E7EF1612A8F7485C1" Guid="5DBAEE53-F350-4B32-BA51-CBC1D1D09111">
          <File Id="fil51E0F3CBE19DB5F56DBCC9669C5F99AB" KeyPath="yes" Source="SourceDir\RepeatResolutionUtil.exe" />
        </Component>
        <Component Id="cmp6392B928FE542BAA00D4BD9DB9064106" Guid="F07E2269-E8A2-485F-A13C-9E0C81F34A7B">
          <File Id="fil33E2A99CBEC15CA287A8FC2C5B0272FC" KeyPath="yes" Source="SourceDir\SampleClusterApp.exe" />
        </Component>
        <Component Id="cmp597839F9A9711ABA5E87DA0B01F47993" Guid="7D01BCC2-C991-4F4A-AEEC-DB2DCCEA0A1B">
          <File Id="fil0D4AE60A614CAEF9AAF9BFE8ED48CBF7" KeyPath="yes" Source="SourceDir\SAMUtils.exe" />
        </Component>
        <Component Id="cmp58675EDAB133C28BB8C1BA9311315B4C" Guid="9ED8FE90-8444-4E0F-BB01-37892BAB8579">
          <File Id="fil22B1450D7718C16D97E6A5A6F4B3788A" KeyPath="yes" Source="SourceDir\ScaffoldUtil.exe" />
        </Component>
        <Component Id="cmp070D616AF16A4A5C6322D7A87DE8425E" Guid="5BB4F803-3E8C-42E7-B498-4F901BC19F73">
          <File Id="fil9874F90BC06A7B3258BCD908F13F16F4" KeyPath="yes" Source="SourceDir\Tools.VennToNodeXL.dll" />
        </Component>
        <Component Id="cmp1D28480DAC764CBCD185D4210C32DD39" Guid="C7C14CF5-F229-454E-980F-A8A4170CCA74">
          <File Id="fil8A0572B3EBCED0E8DC6761DE332BFD18" KeyPath="yes" Source="SourceDir\VennTool.exe" />
        </Component>
      </Directory>
      <!--Directory: Target end-->
    </Directory>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="RegistryEntries" Guid="3780F181-0131-4E4A-B175-515E55044C45">
        <RegistryKey Root="HKLM" Key="Software\.NET Bio\$(env.ProductVersion)\Framework" Action="createAndRemoveOnUninstall">
          <RegistryValue Type="integer" Name="Installed" Value="1" />
          <RegistryValue Type="string" Name="InstallationPath" Value="[FRAMEWORKFOLDER]" KeyPath="yes" />
          <RegistryValue Type="string" Name="Version" Value="$(env.ProductVersion)" />
        </RegistryKey>
        <CreateFolder Directory="FRAMEWORKFOLDER" />
        <RemoveFolder Id="RemoveFrameworkFolder" On="uninstall" />
        <Environment Id="EnvSetPath" Name="PATH" Action="set" Part="last" System="yes" Value="[FRAMEWORKFOLDER]" />
      </Component>
    </DirectoryRef>
  </Module>
</Wix>