<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Module Id="MicrosoftBiologyFoundation" Codepage="1252" Language="1033" Version="1.0.0">
    <!--module package information-->
    <Package Id="E0ACFDB1-5751-45DD-A712-2F36ED026697" Description=".NET Bio" Comments=".NET Bio" Manufacturer="Microsoft Corporation" InstallerVersion="200" />
    <!--Directory: Target-->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!--Directory: Root directory for .NET Bio-->
      <Directory Id="FRAMEWORKFOLDER">
        <Component Id="cmpAF6CEE42CB834476197C946A5A6FF534" Guid="BD0C8D23-48DF-4086-876B-8F8DAD94F7BC">
          <File Id="fil592FC16DA8E3A75EACF99BF4DBE0BE97" KeyPath="yes" Source="SourceDir\BedStats.exe" />
        </Component>
        <Component Id="cmp56A0FC9EE29C01ECA14007FA73C52A24" Guid="4E06A683-45A2-45A2-812F-E2D919F89874">
          <File Id="filCAB4A6A8B6B001599BB0539EBF7638E4" KeyPath="yes" Source="SourceDir\Bio.Comparative.dll" />
        </Component>
        <Component Id="cmp231ED58A4F8E8CFBB5D7D072E28537B8" Guid="1790F056-54BA-4FB7-882F-E5E276593CE4">
          <File Id="fil675B488729DA21B25EA19CD45BC6034F" KeyPath="yes" Source="SourceDir\Bio.dll" />
        </Component>
        <Component Id="cmpD9EAB28F254F246F9D055BDD8A07A41F" Guid="038B2C7D-1DF0-495E-8312-82F9288EF612">
          <File Id="fil96934BBD2F81138C369D895B36B79D8B" KeyPath="yes" Source="SourceDir\Bio.IO.dll" />
        </Component>
        <Component Id="cmp8318400794D10C6AE6CBB882DC1DFC18" Guid="A7DF9A31-7352-4437-B545-9E0F03AD7976">
          <File Id="fil785F9B92806AA0F0EF3B43E973B0CD6A" KeyPath="yes" Source="SourceDir\Bio.Padena.dll" />
        </Component>
        <Component Id="cmp06D11E0BEDD436819F9930363F7A2C62" Guid="DAD4B7D0-F021-4228-83DB-838F8DEB84F1">
          <File Id="fil635E743E55C8175F2393FB90D6BCC2C3" KeyPath="yes" Source="SourceDir\Bio.Pamsam.dll" />
        </Component>
        <Component Id="cmpD31AA9A1874948CC4E1E317D72589B99" Guid="D96BCBB1-B026-49FB-BE9E-69BE3420DDE3">
          <File Id="filF8540D066920C6E9ADF11899E192CDED" KeyPath="yes" Source="SourceDir\Bio.WebServiceHandlers.dll" />
        </Component>
        <Component Id="cmpCF2DBFCFCACBF090B46FEA0AE7AD6832" Guid="DBFF1875-0290-43BC-A4BA-F96BDA09D2A3">
          <File Id="fil5FD121CF58C9B2C2359B2708C6E11BFB" KeyPath="yes" Source="SourceDir\Bio.Workflow.dll" />
        </Component>
        <Component Id="cmp13F3DBA1297BC5D75824FBFD8F55D9B3" Guid="2C65EC91-0518-4F02-BCD4-F29D0E2E37BC">
          <File Id="fil4B7234B9B73ADADBD7F23E65F4EA1B47" KeyPath="yes" Source="SourceDir\ComparativeUtil.exe" />
        </Component>
        <Component Id="cmpC93D7B8AABB99F198F25689BCAB83A9A" Guid="A4E602EC-2792-4839-8AF9-A10A9E3B0071">
          <File Id="fil029FC72FE972F1268DA24A84F4289337" KeyPath="yes" Source="SourceDir\ConsensusUtil.exe" />
        </Component>
        <Component Id="cmpFA4B4D377D3B4503DAD97F87F7C29D4B" Guid="31515CAA-5114-4E4A-86BD-59DEE1ABFEB2">
          <File Id="filA1598965BC6A1301AE16EBF764677D0A" KeyPath="yes" Source="SourceDir\FileFormatConverter.exe" />
        </Component>
        <Component Id="cmp1AD03AA46F70B94F7043B882B656FBAE" Guid="7E53D364-E3E3-4C46-AE60-678AA59973E2">
          <File Id="filFC810F0FD202A5E51B16BC447BA1D5A2" KeyPath="yes" Source="SourceDir\FilterReadsUtil.exe" />
        </Component>
        <Component Id="cmp3E160C852E6DCF99177FC25360D8BE0A" Guid="B739F4CB-DF4D-4DE5-99E9-C84BCD76D66B">
          <File Id="fil074A87C214AD98E4F2E021A15EAA5EDB" KeyPath="yes" Source="SourceDir\LayoutRefinementUtil.exe" />
        </Component>
        <Component Id="cmp4E2AC22D72422BB8572890D747177104" Guid="BF1F5F72-49CC-4F65-BBAE-3F9681F1BD7E">
          <File Id="filC8FF0431BE6648A8776289774F053BF0" KeyPath="yes" Source="SourceDir\LISUtil.exe" />
        </Component>
        <Component Id="cmp1807F33621479FCA7042DCAEE2FFDE6B" Guid="BA120804-AC10-4C43-A271-E29C8813CED7">
          <File Id="fil5D3386DCF037CB33316EC5FCF3F30589" KeyPath="yes" Source="SourceDir\MumUtil.exe" />
        </Component>
        <Component Id="cmp069AD3E38C97BA31F3514F0F0946CD1E" Guid="8D7B60AE-4894-4B51-AFBD-93C06E55E1EB">
          <File Id="fil0DEF4F7F2A87431AFAB1FB4B4813BFA4" KeyPath="yes" Source="SourceDir\NucmerUtil.exe" />
        </Component>
        <Component Id="cmp3B17E408D07C8D1C4E68781BB4534923" Guid="70C087BE-8B06-4461-821E-FE06017224F0">
          <File Id="fil099FEA528DC7D33055A318C0D6A89DAA" KeyPath="yes" Source="SourceDir\PadenaUtil.exe" />
        </Component>
        <Component Id="cmp600C93B95F921B8BA06D2E1B2BA0D7C3" Guid="0930B807-F20E-4BBA-8169-975B694DEB81">
          <File Id="fil6A3E699B4445C90F9793E3B28D4DACF6" KeyPath="yes" Source="SourceDir\ReadSimulator.exe" />
        </Component>
        <Component Id="cmp471929EE637A8A3E7EF1612A8F7485C1" Guid="37579FD2-2303-4F8F-A20B-FEBB75683057">
          <File Id="fil51E0F3CBE19DB5F56DBCC9669C5F99AB" KeyPath="yes" Source="SourceDir\RepeatResolutionUtil.exe" />
        </Component>
        <Component Id="cmp6392B928FE542BAA00D4BD9DB9064106" Guid="CF1973C1-9C72-41CB-831C-741AB380C41A">
          <File Id="fil33E2A99CBEC15CA287A8FC2C5B0272FC" KeyPath="yes" Source="SourceDir\SampleClusterApp.exe" />
        </Component>
        <Component Id="cmp597839F9A9711ABA5E87DA0B01F47993" Guid="CCBE541A-83D8-499E-8774-9AEC4C07A212">
          <File Id="fil0D4AE60A614CAEF9AAF9BFE8ED48CBF7" KeyPath="yes" Source="SourceDir\SAMUtils.exe" />
        </Component>
        <Component Id="cmp58675EDAB133C28BB8C1BA9311315B4C" Guid="C8BB8AF9-0F66-4ADA-A3BF-43245863E497">
          <File Id="fil22B1450D7718C16D97E6A5A6F4B3788A" KeyPath="yes" Source="SourceDir\ScaffoldUtil.exe" />
        </Component>
        <Component Id="cmp070D616AF16A4A5C6322D7A87DE8425E" Guid="2BDBB28C-A1D1-4EAC-9C10-09503BF40BB2">
          <File Id="fil9874F90BC06A7B3258BCD908F13F16F4" KeyPath="yes" Source="SourceDir\Tools.VennToNodeXL.dll" />
        </Component>
        <Component Id="cmp1D28480DAC764CBCD185D4210C32DD39" Guid="6E44860F-EBDD-4B0D-B7BA-2F99ED4306C9">
          <File Id="fil8A0572B3EBCED0E8DC6761DE332BFD18" KeyPath="yes" Source="SourceDir\VennTool.exe" />
        </Component>
      </Directory>
      <!--Directory: Target end-->
    </Directory>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="RegistryEntries" Guid="3780F181-0131-4E4A-B175-515E55044C45">
        <RegistryKey Root="HKLM" Key="Software\.NET Bio\$(env.ProductVersion)\Framework" Action="createAndRemoveOnUninstall">
          <RegistryValue Type="integer" Name="Installed" Value="1" />
          <RegistryValue Type="string" Name="InstallationPath" Value="[FRAMEWORKFOLDER]" KeyPath="yes" />
          <RegistryValue Type="string" Name="Version" Value="$(env.ProductVersion)" />
        </RegistryKey>
        <CreateFolder Directory="FRAMEWORKFOLDER" />
        <RemoveFolder Id="RemoveFrameworkFolder" On="uninstall" />
        <Environment Id="EnvSetPath" Name="PATH" Action="set" Part="last" System="yes" Value="[FRAMEWORKFOLDER]" />
      </Component>
    </DirectoryRef>
  </Module>
</Wix>