<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Colors" type="SequenceAssembler.ColorSchemeConfigHandler, BioSequenceAssembler"/>
  </configSections>

    <Colors>
      <!--Represents the DNA\RNA color scheme-->
      <ColorScheme Name="DNA – Standard">
        <Symbol Char="A" Color="Gold"/>
        <Symbol Char="T" Color="Teal"/>
        <Symbol Char="G" Color="Green"/>
        <Symbol Char="C" Color="Crimson"/>
        <Symbol Char="U" Color="Teal"/>
        <Symbol Char="-" Color="White"/>
        <Default Color="White"/>
      </ColorScheme>

      <!--Represents the Protein color scheme-->
      <ColorScheme Name="Protein – Standard">
        <Symbol Char="A" Color="White"/>
        <Symbol Char="R" Color="White"/>
        <Symbol Char="N" Color="White"/>
        <Symbol Char="D" Color="White"/>
        <Symbol Char="C" Color="White"/>
        <Symbol Char="E" Color="White"/>
        <Symbol Char="Q" Color="White"/>
        <Symbol Char="G" Color="White"/>
        <Symbol Char="H" Color="White"/>
        <Symbol Char="I" Color="White"/>
        <Symbol Char="L" Color="White"/>
        <Symbol Char="K" Color="White"/>
        <Symbol Char="M" Color="White"/>
        <Symbol Char="F" Color="White"/>
        <Symbol Char="S" Color="White"/>
        <Symbol Char="T" Color="White"/>
        <Symbol Char="W" Color="White"/>
        <Symbol Char="Y" Color="White"/>
        <Symbol Char="V" Color="White"/>
        <Symbol Char="-" Color="White"/>
        <Default Color="White"/>
      </ColorScheme>

      <ColorScheme Name="RNA – Standard">
        <Symbol Char="A" Color="White"/>
        <Symbol Char="C" Color="White"/>
        <Symbol Char="G" Color="White"/>
        <Symbol Char="U" Color="White"/>
        <Symbol Char="-" Color="White"/>
        <Default Color="White"/>
      </ColorScheme>"
    </Colors>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
