<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright (c) Microsoft Corporation.  All rights reserved.
    
    The use and distribution terms for this software are covered by the
    Common Public License 1.0 (http://opensource.org/licenses/cpl.php)
    which can be found in the file CPL.TXT at the root of this distribution.
    By using this software in any fashion, you are agreeing to be bound by
    the terms of this license.
    
    You must not remove this notice, or any other, from this software.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <UI>
            <Dialog Id="CustomExitDialog" Width="370" Height="270" Title="!(loc.ExitDialog_Title)">
                <Control Id="Finish" Type="PushButton" X="304" Y="243" Width="56" Height="17" Default="yes" Cancel="yes" Text="!(loc.WixUIFinish)">
                    <Publish Event="EndDialog" Value="Return">1</Publish>
                </Control>
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.ExitDlgBannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                <Control Id="TextInstall" Hidden="yes" Type="Text" X="15" Y="65" Width="340" Height="97" Transparent="yes" NoPrefix="yes" Text="!(loc.ExitDialogTextInstall)">
                    <Condition Action="show">WixUI_InstallMode = "InstallDefault"</Condition>
                    <Condition Action="show">WixUI_InstallMode = "InstallCustom"</Condition>
                    <Condition Action="show">WixUI_InstallMode = "InstallComplete"</Condition>
                </Control>
                <Control Id="DescriptionInstall" Hidden="yes" Type="Text" X="15" Y="25" Width="320" Height="40" Transparent="yes" NoPrefix="yes" Text="!(loc.ExitDialogDescriptionInstall)">
                    <Condition Action="show">WixUI_InstallMode = "InstallDefault"</Condition>
                    <Condition Action="show">WixUI_InstallMode = "InstallCustom"</Condition>
                    <Condition Action="show">WixUI_InstallMode = "InstallComplete"</Condition>
                </Control>
                <Control Id="TitleInstall" Hidden="yes" Type="Text" X="15" Y="9" Width="280" Height="20" Transparent="yes" NoPrefix="yes" Text="!(loc.ExitDialogTitle)">
                    <Condition Action="show">WixUI_InstallMode = "InstallDefault"</Condition>
                    <Condition Action="show">WixUI_InstallMode = "InstallCustom"</Condition>
                    <Condition Action="show">WixUI_InstallMode = "InstallComplete"</Condition>
                </Control>
                <Control Id="TextChange" Hidden="yes" Type="Text" X="15" Y="65" Width="340" Height="94" Transparent="yes" NoPrefix="yes" Text="!(loc.ExitDialogTextChange)">
                    <Condition Action="show">WixUI_InstallMode = "Change"</Condition>
                </Control>
                <Control Id="DescriptionChange" Hidden="yes" Type="Text" X="15" Y="25" Width="320" Height="40" Transparent="yes" NoPrefix="yes" Text="!(loc.ExitDialogDescriptionChange)">
                    <Condition Action="show">WixUI_InstallMode = "Change"</Condition>
                </Control>
                <Control Id="TitleChange" Hidden="yes" Type="Text" X="15" Y="9" Width="280" Height="20" Transparent="yes" NoPrefix="yes" Text="!(loc.ExitDialogTitleChange)">
                    <Condition Action="show">WixUI_InstallMode = "Change"</Condition>
                </Control>
                <Control Id="TextRepair" Hidden="yes" Type="Text" X="15" Y="65" Width="320" Height="40" Transparent="yes" NoPrefix="yes" Text="!(loc.ExitDialogTextRepair)">
                    <Condition Action="show">WixUI_InstallMode = "Repair"</Condition>
                </Control>
                <Control Id="DescriptionRepair" Hidden="yes" Type="Text" X="15" Y="25" Width="320" Height="40" Transparent="yes" NoPrefix="yes" Text="!(loc.ExitDialogDescriptionRepair)">
                    <Condition Action="show">WixUI_InstallMode = "Repair"</Condition>
                </Control>
                <Control Id="TitleRepair" Hidden="yes" Type="Text" X="15" Y="9" Width="280" Height="20" Transparent="yes" NoPrefix="yes" Text="!(loc.ExitDialogTitleRepair)">
                    <Condition Action="show">WixUI_InstallMode = "Repair"</Condition>
                </Control>
                <Control Id="TextRemove" Hidden="yes" Type="Text" X="15" Y="65" Width="320" Height="40" Transparent="yes" NoPrefix="yes" Text="!(loc.ExitDialogTextRemove)">
                    <Condition Action="show">WixUI_InstallMode = "Remove"</Condition>
                </Control>
                <Control Id="DescriptionRemove" Hidden="yes" Type="Text" X="15" Y="25" Width="320" Height="40" Transparent="yes" NoPrefix="yes" Text="!(loc.ExitDialogDescriptionRemove)">
                    <Condition Action="show">WixUI_InstallMode = "Remove"</Condition>
                </Control>
                <Control Id="TitleRemove" Hidden="yes" Type="Text" X="15" Y="9" Width="280" Height="20" Transparent="yes" NoPrefix="yes" Text="!(loc.ExitDialogTitleRemove)">
                    <Condition Action="show">WixUI_InstallMode = "Remove"</Condition>
                </Control>
                <Control Id="OptionalCheckBox" Type="CheckBox" X="15" Y="210" Width="220" Height="15" Hidden="yes" Property="WIXUI_EXITDIALOGOPTIONALCHECKBOX" CheckBoxValue="1" Text="[WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT]">
                    <Condition Action="show">WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT AND NOT Installed</Condition>
                </Control>
				
                <Control Type="Text" Id="OtherToolsText" Width="340" Height="14" X="15" Y="170" Text="!(loc.ExitDialogOtherTools)" />
                
                <Control Type="PushButton" Id="OtherToolsLink" Width="250" Height="20" X="15" Y="184" Text="http://research.microsoft.com/en-us/projects/bio/mbt.aspx">
                    <Publish Property="WixShellExecTarget" Value="http://research.microsoft.com/en-us/projects/bio/mbt.aspx">1</Publish>
                    <Publish Event="DoAction" Value="LaunchBrowser">1</Publish> 
					<!--LaunchBrowser custom action is already present in PrerequisteDeterminationDlg.wxs -->
                </Control>
            </Dialog>
            <InstallUISequence>
                <Show Dialog="CustomExitDialog" OnExit="success" />
            </InstallUISequence>
            <AdminUISequence>
                <Show Dialog="CustomExitDialog" OnExit="success" />
            </AdminUISequence>
            <Publish Dialog="CustomExitDialog" Control="Finish" Event="DoAction" Value="ViewReadme">WIXUI_EXITDIALOGOPTIONALCHECKBOX AND NOT Installed</Publish>
        </UI>
        <!--View readme after installation completes-->
        <CustomAction Id="ViewReadme" Directory="INSTALLDIR" ExeCommand="[SystemFolder]write.exe &quot;[ProductTools]readme.txt&quot;" Return="asyncNoWait" />
    </Fragment>
</Wix>